#root {
  height: 100%;
  min-height: 100vh; }

.MyMenu {
  text-align: center;
  border-bottom: 1px solid #ddd; }
  .MyMenu ul li {
    display: inline-block;
    height: .4rem;
    line-height: .4rem;
    padding: 0 .1rem;
    color: #333; }

.Loading, .Nomore, .Loadmore {
  height: .4rem;
  line-height: .4rem; }
  .Loading p, .Nomore p, .Loadmore p {
    text-align: center; }
